:root {
    --gray: #424247;
    --black: #1E1E1E;
    --blue: #567099;
    --offwhite: #EAEBF1;
    --white: #ffffff;
}

h1 {
    text-align: center;
    color: white;
    size: 100px;
}
h2 {
    color: var(--white);
    text-align: right;
}

.splash {
    background-image: url("../assets/magpiegallerysplash.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}