:root {
    --gray: #424247;
    --black: #1E1E1E;
    --blue: #567099;
    --offwhite: #EAEBF1;
    --white: #ffffff;
}

@font-face {
    font-family: rotulona-hand;
    src: url("../assets/rotulona-hand/Rotulona-Hand-FFP-font.ttf");
}

/* "magpiegallery text" */
h1 {
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: rotulona-hand;
    position: inherit;
    top: 20px;
    text-shadow: -8px 0 var(--black), 0 8px var(--black), 8px 0 var(--black), 0 -8px var(--black);
   
}

/* "hidden gems" text */
h2 {
    color: var(--white);
    text-align: right;
    vertical-align: bottom;
    position: absolute;
    right: 30px;
    transform: translate(0px, 180px);
    font-family: Cabin;
    
}

/* big bird picture */
.splash {
    background-image: url("../assets/magpiegallerysplash.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:360px;
    position: relative;
    top:60px;
}

body {
    background-color: var(--black);
}

nav {
    background-color: var(--black);
    position:fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    padding: 10px;
}

/* for some reason I was getting random padding and margin
on the ul so I had to specify a lack of said properties here */
ul {
    padding:0px;
    margin: 0px;
}

li {
    list-style-type: none;
    display: inline-block;
    color: var(--white);
    padding: 18px;
    position: relative;
    vertical-align:middle;
    background-color: var(--blue);
}

.Add {
    background-image: url("../assets/addicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    margin-right: 5px;
    width: 70px;
    height: 60px;

}
#userSearchForm {
    margin-right:5px;
    padding: 0px;
}
#userSearchInput {
    width: 70px;
    height: 60px;
}

#searchBtn {
    background-image: url("../assets/searchicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--blue);
    border: 0px;
    background-size: 70%;
    margin-right:0px;
    width: 70px;
    height: 60px;
}

.Login {
    float: right;
    font-family: Cabin;
    font-weight: bold;
    height: 60px;
    font-size: 30px;
    line-height: 25px;
}