<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Magpie Gallery</title>
        <link src="/css/style.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body class="container">
        <div class="page-header">
            <h1>Magpie Gallery</h1>
            <img src="assets/magpiegallerysplash.png">
            <h2>Searching for hidden gems</h2>
        </div>
    <nav>
        <ul>
            <!-- new post button -->
            <li class="Add"><a href="upload.handlebars"></a></li>
            <!-- search button -->
            <li type="submit" id="searchBtn"></li>
            <!-- search form -->
            <li id="userSearchForm">
                <form>
                    <input class="col-6 " id="userSearchInput" type="text">    
                </form>
            </li>
            <!-- login button -->
            <li class="Logout"><div style="display:none;" id="logout"></div><a href="/logout">Log Out</a></li>
            <li class="Login"><div style="display:none;" id="login"></div><a href="login.handlebars">Sign In</a></li>
        </ul>
    </nav>
    {{!-- <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    </ul>

                <ul class="nav navbar-nav navbar-right">
					{{# if loggedin}}
                    <li><a href="/edit-profile">Edit Profile</a></li>
					<li><a href="/logout">Log Out</a></li>
					{{else }}
					<li><a href="/login">Log In</a></li>
					{{/if}}
                        
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav> Commented out second nav bar--}}

    {{{body}}}
    </body>
</html>
