<link rel="stylesheet" href="/css/style.css">
<div class="container row">
    <h1>Hello, Welcome to your Dashboard</h1>
</div>
<div class="card">
    <div class="container">
        <a href="/upload">Add Art</a>
    </div>
</div>
<div class="card">
    <div class="container">
        <a href="/edit-profile">Edit Profile</a>
    </div>
</div>
