<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Search</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <link href="/css/style.css" type="text/css" rel="stylesheet">
        <script id="searchTemp" type="text/x-handlebars-template">
    </head>
    <div>
                <!-- website title and large image on landing page -->
        <div class="splash">
            <h1>MAGPIE GALLERY</h1>
            <h2>Search for hidden gems</h2>
        </div>
        <nav>
            <ul>
                <!-- new post button -->
                <li class="Add"></li>
                <!-- search button -->
                <li type="submit" id="searchBtn"></li>
                <!-- search form -->
                <li id="userSearchForm">
                    <form>
                        <input class="col-6 " id="userSearchInput" type="text">    
                    </form>
                </li>
                <!-- login button -->
                <li class="Logout"><div style="display:none;" id="logout"></div><a href="landing.handlebars">Sign In</a></div></li>
                <li class="Login"><div style="display:none;" id="login"></div><a href="login.handlebars">Sign In</a></div></li>
            </ul>
        </nav>
    </div>
    </html>
    <script src="/js/hblanding.js"></script>

