<!-- website title and large image on landing page -->
        <link href="/css/style.css" type="text/css" rel="stylesheet">
        <div class="splash">
            <h1>Magpie Gallery</h1>
            <h2>Searching for hidden gems</h2>
        </div>

<div class="container row">
    {{#each searchResults as |art|}}
       {{> image}}
    {{/each}}
</div>
        
     <script src="/js/hblanding.js"></script>
  

