{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"> --}}
<link rel="stylesheet" href="/css/style.css">
<title>MagpieGalleryLogin</title>

<h1>Welcome!</h1>

<div class="container row">
    <div class="jumbotron col-sm-4 pull-center">
        <form id="login-form">
            <div>
                <label>Username:</label>
                <input type="text" name="username" id="username-login"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" id="password-login"/>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Log In"/>
            </div>
        </form>                  
    </div>          
</div>

<h3> New here? <a href="signup">Sign up</a></h3>
<script src="/js/login.js"></script>

