<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<title>MagpieGallerySignup</title>

<div class="container row">
    <div class="jumbotron col-sm-4 pull-center">
        <form action="/signup" method="post">
            <div>
                <label>Username:</label>
                <input type="text" name="username" id="username-input"/>
            </div>
            <div>
                <label>Email:</label>
                <input type="text" name="email" id="email-input"/>
            </div>    
            <div>
                <label>Password:</label>
                <input type="password" name="password" id="password-input"/>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Sign Up"/>
            </div>
        </form>                  
    </div>          
</div>

<h3> Already a Member? <a href="login.handlebars">Log In</a></h3>

<script src="/js/signup.js"></script>
